/**Dependency**/
@import "normalize.css";

/**Abstract**/
@import "abstracts/colors";
@import "abstracts/font";

/**Base**/
@import "base/base";
@import "base/mediaqueries";
@import "base/typography";

/**Component**/
@import "components/buttons";

/**Layout**/
@import "layout/grid";

/**Test connection**/
body {
  width: 100vw;
  height: 100vh;
  background: url("assets/images/devImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
